/* configuracion general */
body{
    background-color: rgb(158, 158, 158);
}

#titulo{
    display: flex;
    justify-content: center;
}

/* Info Personal */
#img-perfil{
    width: 100px;
    height: 100px;
}

#info-personal{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Acerca de mi */
#acerca-de-mi{
    border: 2px black solid;
    border-radius: 20px;
    width: 650px;
    height: 300px;
}

#presentacion{
    display: flex;
    justify-content: space-around;
}

/* Mas info */
#mas-info{
    border: 2px black solid;
    border-radius: 20px;
    width: 650px;
}

/* Proyectos en mas */

#proyectos{
    background-color: cadetblue;
    border: 5px black solid;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#izq, #centro, #der{
    background-color: rgb(121, 4, 4);
    border: 2px black solid;
    padding: 20px;
    /*flex-grow: 0.32;*/

}                                                                     